Japan-Transparent-PNG.png
japanese_name_generator.c
japanese_name_generator.spec
main.spec
__pycache__/japanese_name_generator.cpython-312.pyc
build/japanese_name_generator/Analysis-00.toc
build/japanese_name_generator/base_library.zip
build/japanese_name_generator/EXE-00.toc
build/japanese_name_generator/japanese_name_generator.pkg
build/japanese_name_generator/PKG-00.toc
build/japanese_name_generator/PYZ-00.pyz
build/japanese_name_generator/warn-japanese_name_generator.txt
build/japanese_name_generator/xref-japanese_name_generator.html
build/japanese_name_generator/PYZ-00.toc
build/japanese_name_generator/localpycs/struct.pyc
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/warn-main.txt
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/struct.pyc
build/japanese_name_generator/localpycs/pyimod01_archive.pyc
build/japanese_name_generator/localpycs/pyimod02_importers.pyc
build/japanese_name_generator/localpycs/pyimod03_ctypes.pyc
build/japanese_name_generator/localpycs/pyimod04_pywin32.pyc
dist/logs/japanese_name_generator_log.txt
dist/output/japanese_names_152.txt
dist/output/japanese_names_523.txt
dist/output/japanese_names_651.txt
dist/output/japanese_names_973.txt
flask/__pycache__/japanese_name_generator.cpython-312.pyc
flask/output/japanese_names_516.txt
logs/japanese_name_generator_log.txt
old/app.log
old/index.html
old/japanese_name_generator.log
output/japanese_names_159.txt
output/japanese_names_213.txt
output/japanese_names_250.txt
output/japanese_names_260.txt
output/japanese_names_278.txt
output/japanese_names_316.txt
output/japanese_names_460.txt
output/japanese_names_471.txt
output/japanese_names_472.txt
output/japanese_names_476.txt
output/japanese_names_495.txt
output/japanese_names_498.txt
output/japanese_names_548.txt
output/japanese_names_576.txt
output/japanese_names_580.txt
output/japanese_names_601.txt
output/japanese_names_616.txt
output/japanese_names_619.txt
output/japanese_names_634.txt
output/japanese_names_662.txt
output/japanese_names_670.txt
output/japanese_names_681.txt
output/japanese_names_697.txt
output/japanese_names_702.txt
output/japanese_names_713.txt
output/japanese_names_731.txt
output/japanese_names_740.txt
output/japanese_names_777.txt
output/japanese_names_889.txt
output/japanese_names_891.txt
output/japanese_names_981.txt
dist/get_random_name.cmd
dist/main.exe
requirements.txt
flask/get-random-jp-name.zip
Japan-Transparent-PNG.ico
